{{ ansible_managed | comment }}
type: S3
config:
  bucket: "{{ thanos_bucket_name }}"
  endpoint: "{{ thanos_bucket_endpoint }}"
  region: "{{ thanos_bucket_region }}"
  access_key: "{{ thanos_bucket_access_key }}"
  secret_key: "{{ thanos_bucket_secret_key }}"
