{{ ansible_managed | comment }}
#
# Set the command-line arguments to pass to the server.
ARGS="--http-address='0.0.0.0:{{ thanos_compact_http_port }}' \
  --data-dir '{{ thanos_compact_datadir }}' \
  --objstore.config-file  '{{ thanos_bucket_conf }}'"
