{{ ansible_managed | comment }}
#
# Set the command-line arguments to pass to the server.
ARGS="--grpc-address='0.0.0.0:{{ thanos_store_grpc_port }}' \
  --http-address='0.0.0.0:{{ thanos_store_http_port }}' \
  --data-dir '{{ thanos_store_datadir }}' \
  --objstore.config-file  '{{ thanos_bucket_conf }}'"
