{{ ansible_managed | comment }}
#
# Set the command-line arguments to pass to the server.
ARGS="--grpc-address='0.0.0.0:{{ thanos_sidecar_grpc_port }}' \
  --http-address='0.0.0.0:{{ thanos_sidecar_http_port }}' \
  --tsdb.path '{{ thanos_tsdb_path }}' \
  --prometheus.url '{{ thanos_prometheus_url }}' \
  --objstore.config-file  '{{ thanos_bucket_conf }}'"
