{{ ansible_managed | comment }}
#
# Set the command-line arguments to pass to the server.
ARGS="--http-address '0.0.0.0:{{ thanos_query_http_port }}' \
  --grpc-address '0.0.0.0:{{ thanos_query_grpc_port }}' \
{%for i in thanos_sidecars %}
  --store '{{ i }}:{{ thanos_sidecar_grpc_port }}' \
{% endfor %}
  --store '127.0.0.1:{{ thanos_store_grpc_port }}'
