{{ ansible_managed | comment }}

[Unit]
Description=Thanos Compact
Documentation=https://github.com/thanos-io/thanos/blob/main/docs/components/compact.md
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
User={{ thanos_shell_user }}
Group={{ thanos_shell_group }}
EnvironmentFile={{ thanos_config_dir }}/thanos-compact.conf
ExecStart=/usr/local/bin/thanos compact $ARGS
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=thanos-compact
Restart=always

[Install]
WantedBy=multi-user.target
