{{ ansible_managed | comment }}

[Unit]
Description=Thanos Query
Documentation=https://github.com/thanos-io/thanos/blob/main/docs/components/query.md
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
User={{ thanos_shell_user }}
Group={{ thanos_shell_group }}
EnvironmentFile={{ thanos_config_dir }}/thanos-query.conf
ExecStart=/usr/local/bin/thanos query $ARGS
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=thanos-query
Restart=always

[Install]
WantedBy=multi-user.target
